

# dataroadmap, monogram_1, Week_3, notebook1



## Objectives

After completing this lab you will be able to:

*   Write basic code in Python
*   Work with various types of data in Python
*   Convert the data from one type to another
*   Use expressions and variables to perform operations

<h2 id="hello">Say "Hello" to the world in Python</h2>

When learning a new programming language, it is customary to start with an "hello world" example. As simple as it is, this one line of code will ensure that we know how to print a string in output and how to execute code within cells in a notebook.

هنگام یادگیری یک زبان برنامه نویسی جدید، مرسوم است که با مثال "سلام دنیا" شروع کنید. به همین سادگی، این یک خط کد تضمین می کند که ما می دانیم چگونه یک رشته را در خروجی چاپ کنیم و چگونه کد را در یک نوت بوک اجرا کنیم.

In [ ]:
# Try your first Python output

print('Hello, Python!')

<h3 id="version">What version of Python are we using?</h3>

شما از چه نسخه ای از پایتون استفاده می کنیم؟

In [ ]:
# Check the Python Version

import sys
print(sys.version)

<h3 id="comments">Writing comments in Python</h3>
نوشتن کامنت در پایتون

In [ ]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

<h3 id="errors">Errors in Python</h3>
خطاها در پایتون

In [ ]:
# Print string as error message

frint("Hello, Python!")

In [ ]:
# Try to see built-in error message

print("Hello, Python!)

<h2 id="types_objects" align="center">تمرین</h2>

In [ ]:
# یک عدد صحیح پرینت کنید و تایپ آن را نشان دهید

In [ ]:
# یک عدد اعشاری پرینت کنید و تایپ آن را نشان دهید

In [ ]:
# یک عدد رشته دلخواه پرینت کنید و تایپ آن را نشان دهید

<h3 id="convert">Converting from one object type to a different object type</h3>
تبدیل از یک نوع شی (دیتا) به یک نوع شی(دیتا) دیگر

In [ ]:
# تایپ ایکس چیست؟
x = 2
type(x)

<h4>Converting integers to floats</h4>
تبدیل اعداد صحیح به عدد اعشاری

In [ ]:
# Convert 2 to a float

y = float(x)

In [ ]:
# تایپ ایگرگ چیست؟

type(y)

In [ ]:
# ????

int(1.1)

<h4>Converting from strings to integers or floats</h4>

<p>Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using <code>int()</code>:</p>

In [ ]:
# Convert a string into an integer

int('1')

<p>But if you try to do so with a string that is not a perfect match for a number, you'll get an error. Try the following:</p>

In [ ]:
# Convert a string into an integer with error

int('1 or 2 people')

<p>You can also convert strings containing floating point numbers into <i>float</i> objects:</p>

In [ ]:
# Convert the string "1.2" into a float

float('1.2')

<h4>Converting numbers to strings</h4>
یک عدد را به رشته تبدیل کنید

In [ ]:
# یک عدد صحیح را به رشته تبدیل کنید

str(1)

In [ ]:
# یک عدد اعشاری را به رشته تبدیل کنید

str(1.2)

<h3 id="bool">Boolean data type</h3>

In [ ]:
# Value true

True

<p>Notice that the value <code>True</code> has an uppercase "T". The same is true for <code>False</code> (i.e. you must use the uppercase "F").</p>

In [ ]:
# Value false

False

<p>When you ask Python to display the type of a boolean object it will show <code>bool</code> which stands for <i>boolean</i>:</p>

In [ ]:
# Type of True

type(True)

In [ ]:
# Type of False

type(False)

<p>We can cast boolean objects to other data types. If we cast a boolean with a value of <code>True</code> to an integer or float we will get a one. If we cast a boolean with a value of <code>False</code> to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a <code>True</code>. And if we cast a 0 to a Boolean we will get a <code>False</code>. Let's give it a try:</p>

In [ ]:
# Convert True to int

int(True)

In [ ]:
# Convert 1 to boolean

bool(1)

In [ ]:
# Convert 0 to boolean

bool(0)

In [ ]:
# Convert True to float

float(True)

<hr>

<h2 id="expressions">Expression and Variables</h2>

<h3 id="exp">Expressions</h3>

<p>Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:</p>

In [ ]:
# Addition operation expression

43 + 60 + 16 + 41

<p>We can perform subtraction operations using the minus operator. In this case the result is a negative number:</p>

In [ ]:
# Subtraction operation expression

50 - 60

<p>We can do multiplication using an asterisk:</p>

In [ ]:
# Multiplication operation expression

5 * 5

<p>We can also perform division with the forward slash:

In [ ]:
# Division operation expression

25 / 5

In [ ]:
# Division operation expression

25 / 6

In [ ]:
# Integer division operation expression

25 // 5

In [ ]:
# Integer division operation expression

25 // 6

In [ ]:
# Mathematical expression

30 + 2 * 60

<p>And just like mathematics, expressions enclosed in parentheses have priority. So the following multiplies 32 by 60.

In [ ]:
# Mathematical expression

(30 + 2) * 60

<h3 id="var">Variables</h3>

<p>Just like with most programming languages, we can store values in <i>variables</i>, so we can use them later on. For example:</p>

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41

<p>To see the value of <code>x</code> in a Notebook, we can simply place it on the last line of a cell:</p>

In [ ]:
# Print out the value in variable

x

<p>We can also perform operations on <code>x</code> and save the result to a new variable:</p>

In [ ]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

<p>If we save a value to an existing variable, the new value will overwrite the previous value:</p>

In [ ]:
# Overwrite variable with new value

x = x / 60
x

<p>It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:</p>

In [ ]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

In [ ]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

In [ ]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours